<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {#for c in courses}
        <tr>
            <td>{c.id}</td>
            <td>{c.name}</td>
            <td>{c.description}</td>
        </tr>
    {/for}
    </tbody>
</table>

</body>
</html>